# Files relevant to the skeleton repository itself — kept out of the project created via `composer create-project`
# (honored for dist installs). README.md is the skeleton's readme; the project's own README is written by the
# composer plugin on create-project (see Redaxo\ComposerPlugin\ProjectInitializer).
/.gitattributes export-ignore
/LICENSE export-ignore
/README.md export-ignore
